@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
}
html{
    scroll-behavior: smooth;
}
/* This is for shared styles ********************************************************** */
.text-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}
.text-p-center{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    text-align: center;
}
.text-h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.text-h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}
.shared-btn{
align-items: center;
padding: 12px 20px;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
background-color: white;
}
.shared-btn>a{
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
text-align: center;
text-decoration: none;
}
.margin{
    margin: 0px auto;
}
/* shared contents end here ******************************************************** */
header{
    border: 2px solid red;
    max-width: 1440px;
    min-height: 730px;
    background: url(../assets/Hero-bg.png);
    text-align: center;
    margin-bottom: 74px;
}
.header-img{
    margin-top: 26px;
}
.header-container{
    border: 2px solid red;
    max-width: 998px;
    min-height: 680px;
}
.header-title{
    margin: 32px 0px 24px 0px;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}
.header-btn{
    margin: 44px 0px 32px 0px;
    width: 250px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;
}
.header-btn>a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
/* header section ends here ******************************************************** */
main{
    margin-top: 74px;
}
.why-web-container{
    border: 2px solid red;
    max-width: 1140px;
    min-height: 1395px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 88px;
    padding: 80px 97px;
}
.why-web{
    width: 852px;
    margin: 0 auto;
    text-align: center;
}
.why-web-title{
    margin: 0px 0px 24px 0px;
}
.why-web-description{
    margin-bottom: 48px;
}
.why-web-section{
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
}
.why-web-section>div>p{
    margin: 16px 0px 32px 0px;
}
.section-different{
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 32px 0px;
}
.why-web-section-content-container{
    padding-right: 154px;
}
.why-web-section-content-container-different{
    margin-right: 60px;
}
/*why web development section ends here ************************************************************** */
.inspiration{
    border: 2px solid red;
    max-width: 1140px;
    min-height: 775px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 151px;
}
.inspiration-container{
    width: 852px;
    margin: 0 auto;
}
.inspiration-container p{
    margin: 24px 0px 48px 0px;
}
.iframe{
max-width: 1140px;
min-height: 614px;
padding: 32px;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;

}
.iframe-main{
    max-width: 1076px;
    min-height: 550px;
    border-radius: 16px;
}
iframe{
    width: 100%;
    height: 550px;
    border-radius: 16px;
}
/*Inspiration ends here *************************************************************************** */
.current-target{
    border: 2px solid red;
    max-width: 1140px;
    min-height: 625px;
    margin-bottom: 111px;
}
.current-target-text{
    max-width: 852px;
}
.current-target-description{
    margin: 24px 0px 48px 0px;
}
.target-card-container{
    display: flex;
    justify-content: space-between;
}
.target-card{
    /* width: 31.9%;
    float: left;
    padding: 40px;
    min-height: 400px;
    border-radius: 16px; */
    padding: 40px;
    border-radius: 16px;
}
.target-card-title{
    margin: 24px 0px 8px 0px;
}
.target-card-description{
    margin-bottom: 24px;
}
.target-card-a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-bottom: 40px;
}
.html{
    background: rgba(255, 76, 30, 0.05);
}
.css{
    background: rgba(0, 76, 232, 0.05);
    margin: 0px 24px;
}
.javascript{
    background: rgba(255, 223, 0, 0.05);
}
/* cards end here ******************************************************************** */
.support{
    border: 2px solid red;
    max-width: 1140px;
    min-height: 313px;
    background: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    padding: 64px 48px;
    margin-bottom: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
}
.support-text{
    width: 730px;
}
.support-h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
}
.support-p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 16px 0px 24px 0px;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.support-text input{
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px;
    display: block;
}
.support-text button{
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    border: none;
    display: block;
    margin-left: 16px;
}
/* support section ends here ********************************************************************** */
#footer{
    border: 2px solid red;
    max-width: 1440px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.footer-container{
    max-width: 1140px;
    padding: 32px 0px;
    display: flex;
    justify-content: space-between;
}
.commitment-link img{
    margin-left: 24px;
}
.commitment-text{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
}

